.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 650px;
    height: 400px;
    padding-left: 10px;
    margin: 50px auto;
    background-color: #FE0065;
    border-radius: 10px;
    box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 46px rgba(0, 0, 0, 0.22);
}

/*
- We use display flex to separate the 2 views we are going to be building. 
- We fixed our width and height for our desktop display.
- We apply some top and bottom margin to separate the view from the corners and auto left and right to place it in the middle. - Finally, we applied a red color to the background.
*/
